@(
	activities		: List[models.factory.AbstractActivity], 
	user			: User,
	eventsList : List[models.factory.AbstractEvent],
	equipmentsList : List[models.factory.AbstractEquipment],
    activityForm : play.data.Form[forms.AbstractActivityForm],
    eventForm : play.data.Form[forms.AddEventForm],
    equipmentForm : play.data.Form[forms.AddEquipmentForm],
	addFriendForm	: play.data.Form[forms.AddFriendForm]
	)
	

	
	<script>
		$(function() {

			//$("p").html("hunting");
			//if(isEmpty($("#sector"))){
				//alert("lol");
				$("#menu_action").hide();
			//}

				//if(isEmpty($("#sector").val()){
				//	alert("lol");
				//}
			
			hideAll();
			
			$("#hunting").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('hunting');
                $("#eventSector").val('hunting');
                $("#equipmentSector").val('hunting');
				$("#menu_action").show("");
				$("#menu_action").css('background', 'darkkhaki');
				$(this).css('background', 'darkkhaki');
				$("#fishing").css('background', 'gray');
				$("#picking").css('background', 'gray');
			});
		  
			$("#fishing").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('fishing');
                $("#eventSector").val('fishing');
                $("#equipmentSector").val('fishing');
				$("#menu_action").show("");
				$("#menu_action").css('background', 'Turquoise');
				$(this).css('background', 'Turquoise');
				$("#hunting").css('background', 'gray');
				$("#picking").css('background', 'gray');
			});
		  
			$("#picking").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('picking');
                $("#eventSector").val('picking');
                $("#equipmentSector").val('picking');
				$("#menu_action").show("");
				$("#menu_action").css('background', 'springgreen');
				$(this).css('background', 'springgreen');
				$("#fishing").css('background', 'gray');
				$("#hunting").css('background', 'gray');
			});
			
			$("#btNewActivity").click(function() {
				showNewActivityForm();
			});

            $("#btNewEvent").click(function() {
                showNewEventForm();
            });

            $("#btNewEquipment").click(function() {
                showNewEquipmentForm();
            });
		  
			$("#btEquipments").click(function() {
				showEquipments();
			});
		  
			$("#btViewer").click(function() {
				showViewer();
			});
			
			
		});
		
		function hideAll(){
			$("aside").hide();
			$("#newActivityForm").hide();
            $("#newEventForm").hide();
            $("#newEquipmentForm").hide();
			$("#equipments").hide();
			$("#viewer").hide();
			$("#map").hide();
		}
		
		function showNewActivityForm(){
			hideAll();
			$("aside").show();
			$("#newActivityForm").show("");
			$("#map").show();
			initializeActivityMap();
		}

        function showNewEventForm () {
            hideAll();
            $("aside").show();
            $("#newEventForm").show("");
            $("#map").show();
            initializeEventMap();
        }

        function showNewEquipmentForm () {
            hideAll();
            $("aside").show();
            $("#newEquipmentForm").show("");
            $("#map").show();
        }
		
		function showEquipments(){
			hideAll();
			$("aside").show();
			$("#equipments").show("");
		}
		
		function showViewer(){
			hideAll();
			$("aside").show("");
			$("#viewer").show("");
			$("#map").show();
			initializeViewerMap();
		}
		
	</script>
		
		
		
		
					
	<header>
		@header(user, addFriendForm)
	</header>
		

							
	<article>
	
		<aside>
            <div id="newActivityForm">@block.newActivityForm(user, activityForm, eventsList, equipmentsList)</div>
            <div id="newEventForm">@block.newEventForm(user, eventForm)</div>
            <div id="newEquipmentForm">@block.newEquipmentForm(user, equipmentForm)</div>
			<div id="viewer">@block.viewer(activities)</div>
			<div id="equipments">@block.equipments(user, activityForm)</div>
		</aside>
		
		<div id="map">@block.map(user)</div>

	</article>

	<footer>
		@footer(user)
	</footer>
	
	
	
	
	
	
	

