@(user	: User, addFriendForm : play.data.Form[forms.AddFriendForm])
@import helper._


		<div id="menu_sector">
			<input type="button" value="hunting" id="hunting" class="btSector"/>
			</br>
			<input type="button" value="fishing" id="fishing" class="btSector"/>
			</br>
			<input type="button" value="picking" id="picking" class="btSector"/>
			</br>
		</div>
		
		<div id="menu_action" position="relative" >
			<input type="button" value="newActivity" id="btNewActivity" class="btMenu"/>
			</br>
            <input type="button" value="newEvent" id="btNewEvent" class="btMenu"/>
            </br>
            <input type="button" value="newEquipment" id="btNewEquipment" class="btMenu"/>
            </br>
			<input type="button" value="equipments" id="btEquipments" class="btMenu"/>
			</br>
			<input type="button" value="viewer" id="btViewer" class="btMenu"/>
			</br>
		</div>

	
	(@user.getEmail())
	<a href="@routes.Application.logout()">Logout</a>
	
	<div id="addFriendForm">
	@form(routes.Users.addFriend()) {
    	@inputText(addFriendForm("email"), 'id -> "itFriendEmail")
    	<input type="submit" id="btAddFriend" value="addFriend"/>
	}

	@if(addFriendForm.hasErrors){<p class="error">@addFriendForm.globalError.message</p>}	
	</div> 
