/data.rdf
/models
/agents
/controllers
/exceptions
/views
/GOSP.dat
/GOSP.idn
/GPOS.dat
/GPOS.idn
/GSPO.dat
/GSPO.idn
/OSP.dat
/OSP.idn
/OSPG.dat
/OSPG.idn
/POS.dat
/POS.idn
/POSG.dat
/POSG.idn
/SPO.dat
/SPO.idn
/SPOG.dat
/SPOG.idn
/journal.jrnl
/node2id.dat
/node2id.idn
/nodes.dat
/nodes.dat-jrnl
/prefix2id.dat
/prefix2id.idn
/prefixIdx.dat
/prefixIdx.idn
/prefixes.dat
/prefixes.dat-jrnl
