@(user	: User)

    <script type="text/javascript"  
        src="http://maps.google.com/maps/api/js?sensor=false">  
    </script>  
 
    <div id="map_canvas" style="width:75%; height:100%"></div>  
 
    <script type="text/javascript">
    
    var map;
    var markers = [];
    var markerExist=false;
    
    function initializeActivityMap() {
        
    	var myLatlng = new google.maps.LatLng(44, 3.5);
        
        var myOptions = {
            zoom: 10,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        google.maps.event.addListener(map, 'click', function(event) {
        	if(markerExist){
        		clearMarkers();
        		markerExist=false;
        	}
          	addMarker(event.latLng);
          	markerExist=true;
          	document.getElementById("itLatitude").value=event.latLng.lat().toString();
          	document.getElementById("itLongitude").value=event.latLng.lng().toString();
          	
        });

    }

    function initializeEventMap() {

        var myLatlng = new google.maps.LatLng(44, 3.5);

        var myOptions = {
            zoom: 10,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        google.maps.event.addListener(map, 'click', function(event) {
            if(markerExist){
                clearMarkers();
                markerExist=false;
            }
            addMarker(event.latLng);
            markerExist=true;
            document.getElementById("eventLatitude").value=event.latLng.lat().toString();
            document.getElementById("eventLongitude").value=event.latLng.lng().toString();

        });

    }

    function initializeViewerMap() {
        var user_id = document.cookie.split("=")[1];
        var myLatlng = new google.maps.LatLng(44, 3.5);

        var myOptions = {
            zoom: 10,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        $.get("/users/"+user_id+"/activities", function(data) {
            $(".result").json(data);
            
        });

    }

	function addMarker(location) {
	   	var marker = new google.maps.Marker({
	     	position: location,
	     	map: map
	   	});
	   	markers.push(marker);
 	}

	function setAllMap(map) {
		for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(map);
		}
	}

	function clearMarkers() {
		setAllMap(null);
	}


	function showMarkers() {
		setAllMap(map);
	}


	function deleteMarkers() {
		clearMarkers();
		markers = [];
	}

    function TestMarker() {
        leVigan = new google.maps.LatLng(43.9929270, 3.6063220);
        addMarker(CentralPark);
    }
    
    initializeMap();
    
    </script>