@(
user	: User,
activityForm : play.data.Form[forms.AbstractActivityForm],
eventsList : List[models.factory.AbstractEvent],
equipmentsList : List[models.factory.AbstractEquipment]
)
@import helper._

<style type="text/css">
#eventsDiv{height:20pt;overflow:auto}
#equipmentDiv{height:50pt;overflow:auto}
#separator{height:10pt}
</style>

  @form(routes.Activities.newActivity()) {
  
	<input id="sector" type="hidden" name="sector" />
	<h3>Events</h3>
	<div id="eventsDiv">
	<select name="event">
		<option value="">---</option>
		*{
		@for(event <- eventsList) {
			<option value="@event.getId()">@event.getLabel()</option>
		}
		}*
	</select>
		
	</div>
	<div id="separator">
	</div>
	<h3>Equipments</h3>
	<div id="equipmentDiv">
		@for(equipment <- equipmentsList) {
			<input type="checkbox" name="@equipment.getLabel()" boxValue="@equipment.getId()">@equipment.getLabel() : @equipment.getComment()<br>
		}
	</div>
    @inputDate(activityForm("date"), 'id -> "itDate")  
    @inputText(activityForm("latitude"), 'id -> "itLatitude") 
    @inputText(activityForm("longitude"), 'id -> "itLongitude") 
    @inputText(activityForm("amountOfOrganism"), 'id -> "itAmountOfOrganism") 
	@inputText(activityForm("organism"), 'id -> "itOrganism")
    @select(activityForm("activityEnding"), options = options("-1" -> "Select ActivityEnding", "kill" -> "kill", "sight" -> "sight"))
    @select(activityForm("sex"), options = options("-1" -> "Select Sex", "male" -> "male", "female" -> "female"))
    <input type="submit" id="btAddActivity" value="Create">
    
  } 
  