    
    body {
    	width:98%;
    	height:75%;
    	background-color:#99FF66;
    	padding: 10px;
    }
    
    body header {
    	color: yellowgreen;
        background-color:DarkGreen;
        text-align:right;
        margin-bottom: 15px;
        padding: 10px;
    }
 
    body aside {
        width:20%;
        height:90%;
        background-color:lightgreen;
        float: left;
        padding: 10px;
        color:DarkGreen;
        margin-right:30px;
    }
    
    body article {
    	width:100%;
        width:auto;
    }
    
     
    body footer {
    	margin-top:15px;
        height:50px;
        background-color:DarkGreen;
    }
 
    a{
    	color: white;
    }
    
	.btSector{
	    border: 0px solid #006;
    	background: lightgray;
    	width: 100px;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	margin-left: 10px;
    	margin-right: -5px;
    	padding: 5px;
	}
	
	.btMenu{
	    border: 3px solid darkslategray;
    	background: white;
    	width: 100px;
    	margin: 9px;
    	margin-left: 20px;
    	margin-right: 20px;
    	padding: 3px;
	}
        
    #menu_sector{
    	float:left;
    }
    
    #menu_action{
    	float:left;
    }
    
    #addFriendForm{
    
    }
    
    #email{float:right; text-align:center; }
    #options{float:right; text-align:center; }
    #btAddFriend{background-color:lightgreen;}
    #btAddActivity{background-color:lightgreen;float:right;}
 

 