@(user	: User,
activityForm : Form[forms.AbstractActivityForm],
eventForm : Form[forms.AddEventForm],
addFriendForm: Form[forms.AddFriendForm])

	<script>
		$(function() {

			$("p").html("hunting");
			$("#menu_action").hide();
			
			hideAll();
			
			$("#hunting").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('0')
				$("#menu_action").show("");
				$("#menu_action").css('background', 'darkkhaki');
				$(this).css('background', 'darkkhaki');
				$("#fishing").css('background', 'gray');
				$("#picking").css('background', 'gray');
			});
		  
			$("#fishing").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('1')
				$("#menu_action").show("");
				$("#menu_action").css('background', 'Turquoise');
				$(this).css('background', 'Turquoise');
				$("#hunting").css('background', 'gray');
				$("#picking").css('background', 'gray');
			});
		  
			$("#picking").click(function() {
				hideAll();
				$("#menu_action").hide();
				$("#sector").val('2')
				$("#menu_action").show("");
				$("#menu_action").css('background', 'springgreen');
				$(this).css('background', 'springgreen');
				$("#fishing").css('background', 'gray');
				$("#hunting").css('background', 'gray');
			});
			
			$("#btNewActivity").click(function() {
				showNewActivityForm();
			});

            $("#btNewEvent").click(function() {
                showNewActivityForm();
            });
		  
			$("#btEquipments").click(function() {
				showEquipments();
			});
		  
			$("#btViewer").click(function() {
				showViewer();
			});
			
			
		});
		
		function hideAll(){
			$("aside").hide();
			$("#newActivityForm").hide();
            $("#newEventForm").hide();
			$("#equipments").hide();
			$("#viewer").hide();
			$("#map").hide();
		}
		
		function showNewActivityForm(){
			hideAll();
			$("aside").show();
			$("#newActivityForm").show("");
			$("#map").show();
			initializeActiityMap();
		}

        function showNewEventForm() {
            hideAll();
            $("aside").show();
            $("#newEventForm").show("");
            $("#map").show();
            initializeEventMap();
        }
		
		function showEquipments(){
			hideAll();
			$("aside").show();
			$("#equipments").show("");
		}
		
		function showViewer(){
			hideAll();
			$("aside").show("");
			$("#viewer").show("");
			$("#map").show();
			initializeMap();
		}
		
	</script>
					
	<header>
		@header(user, addFriendForm)
	</header>
		

							
	<article>
	
		<aside>
			<div id="newActivityForm">@block.newActivityForm(user, activityForm)</div>
            <div id="newEventForm">@block.newEventForm(user, eventForm)</div>
			<div id="viewer">@block.viewer(user, activityForm)</div>
			<div id="equipments">@block.equipments(user, activityForm)</div>
		</aside>
		
		<div id="map">@block.map(user)</div>

	</article>

	<footer>
		@footer(user)
	</footer>

