@(loginForm: Form[forms.LoginForm])
<html>
    <head> 
   		<title>VitaInstinct</title>
   		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/vita_icon.png")">
    	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>

		@helper.form(routes.Application.authenticate, 'class -> "login") {
		    <p>
		      <label for="login">Email:</label>
		      <input type="text" name="email" id="login" placeholder="Email">
		    </p>
		
		    <p>
		      <label for="password">Password:</label>
		      <input type="password" name="password" id="password" placeholder="Password">
		    </p>
		
		    <p class="login-submit">
		      <button type="submit" class="login-button">connexion</button>
		    </p>
			
			@if(loginForm.hasErrors){<p class="error">@loginForm.globalError.message</p>}	
		    <p class="forgot-password"><a href="">Forgot your password?</a></p>
			
		}
		
		
   </body>
</html>
